.body {
    height: 96vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 75px;
    height: 75px;
    width: calc(100% - 75px - 60px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 99;
}
.header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header select {
    color: var(--color-primary);
    padding: 0 10px 0 10px;
    height: 30px;

    border: 1px solid var(--color-primary);

    background-color: var(--color-white);
    border-radius: 10px;
}

/* NAVBAR */
.nav {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: var(--navbarWidth);
    margin-top: 25px;
    gap: 32px;
    transition: all 0.25s ease-in-out;

    position: relative;
}

.nav div:first-child {
    position: absolute;
    top: 0;
    left: 9px;
}

.nav div:first-child button {
    border: none;
    background: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.nav div:first-child button:hover {
    background-color: var(--navbar-hover) !important;
}

.nav img {
    filter: var(--dark-filter);
}

.nav div {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav div a {
    display: grid;
    grid-template-columns: 45px calc(  var(--navbarWidth) - 75px);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;

    margin-left: 19px;
}

.nav div a img {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 10px;
}

.nav div a span {
    z-index: -1;
    opacity: 0;
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 3px;
    transition: opacity 0.2s ease-in-out;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav div a:hover {
    background-color: var(--navbar-hover);
}

.active {
    display:flex;
}

.active div span {
    display: block;
}

.active div:first-child {
    width: 50px;
}
.active div {
    width: var(--navbarWidth);
}

.active div a {
    width: calc (var(--navbarWidth) - 50px);
    border-radius: 20px;
    margin: 0;
}

.active div a img {
    margin-left: 7px;
}

.active div a span {
    z-index: 1;
    opacity: 1;
    margin: 0px;
    transition: opacity 0.2s ease-in-out;
}

.marginTop {
    margin-top: 90px;
}

/* MAIN CONTENT */

.main {
    height: calc(100% - 75px - 100px);
    width: calc(100% - var(--navbarWidth));
    background-color: var(--color-white);
    border-radius: 20px;
    margin-top: 75px;
    margin-right: 60px;
    margin-bottom: 100px !important;
    transition: all 0.25s ease-in-out;
    overflow: auto;
    overflow-y: overlay;

    padding-bottom: 50px;
}

.main::-webkit-scrollbar {
    width: 10px;
}

.main::-webkit-scrollbar-track {
    background-color: rgba(228, 228, 228, 0.758);
    border-radius: 20px;
}

.main::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(183, 185, 187, 0.765);
    border-radius: 10px;
}

.main h3 span {
    color: var(--color-grey);
    font-size: inherit;
    font-weight: 400;
}

.main > div:first-child {
    padding: 0 35px 0 35px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    z-index: 99;
}

.footer img {
    position: fixed;
    bottom: 10px;
    left: 0px;
}

.footer a:hover {
   text-decoration: underline;
} 
    

@media screen and (max-width: 520px) {
    .main {
        margin-top: 150px;
        height: calc(100% - 150px - 100px)
    }
    .header {
        flex-direction: column;
        height: 120px;
        justify-content: center;
        gap: 10px;
    }
    .footer {
        gap: 5px;
    }
    
}

@media screen and (max-width:686px) {
    .nav {
        position: fixed;
        background-color: var(--color-body);
        z-index: 10;
        margin-top: 0px;
        padding-top: 25px;
    }
    .nav div:first-child {
        margin-top: 25px;
    }
    .main {
        width: 100%;
        margin-left: 75px;
    }

    .footer {
        justify-content: flex-end;
    }

    .footer a {
        margin-right: 10px;
    }
}

@media screen and (max-width:430px) {
    .footer a {
        width: 50px;
        margin-right: 40px;
    }
}