.relative {
    position: relative;
}

.refreshEndpoints {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.refreshEndpoints button {
    cursor: pointer;
    padding: 5px 1rem;
    border-radius: 15px;
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 16px;
    font-family: inherit;
}

.hidden {
    display: none;
}

.modal {
    position: absolute; 
    top: 0;
    margin: 0 auto;
    width: calc(100% - 70px);
}

.modal p {
    margin: 0 auto;
    width: 300px;
    padding: 10px 20px;
    text-align: center;
}

.success p{
    background-color: #3dcf35;
    color: #fff;
}

.error p{
    background-color: var(--color-quaternary);
    color: #fff;
}