/* GLOBAL STYLES FOR THE APPLICATION */

/* Global variables */
:root {
    --color-primary: #1D3557;
    --color-secondary: #457B9D;
    --color-quaternary: #E63946;

    --color-white: #fff;
    --navbar-hover: #D3E3FD;

    --color-hard-grey: #333;
    --color-grey: #848F9F;
    --color-low-grey: #ddd;

    --color-body: #F5F8FC;

    --box-shadow-color: rgba(0, 0, 0, 0.182);

    --color-success: #3dcf35;

    --white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(127deg) brightness(103%) contrast(103%);
    --dark-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(127deg) brightness(103%) contrast(103%);
    
    --navbarWidth: 75px;

    --modal-background: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0px;
    padding: 10px;
    font-family: var(--font-poppins);
    font-size: 16px;
    background-color: var(--color-body);
    color: var(--color-primary);
}

/* Global tags */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

h5 {
    font-size: 1rem;
    font-weight: 700;
}

h6 {
    font-size: 0.75rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a {
    all: unset;
    cursor: pointer;
}

/* Global classes */

.warning {
    color: var(--color-quaternary);
}

button:hover {
    background-color: var(--color-secondary) !important;
}